.App {
  text-align: left;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
  background: var(--black);
  color: var(--white);
  transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
}

.featured {
  background: var(--white);
  color: var(--black);
}

p {
  margin: 0;
}

/* a:hover {
  color: #df6abe;
} */

.mobile_only {
  display: none;
}

.address {
  padding: 0 55px 55px 55px;
  font-size: 1.4vw;
  letter-spacing: 5px;
  line-height: 2.5vw;
}

.address_street {
  text-transform: uppercase;
  margin-bottom: 10px;
}

.header {
  padding: 55px 55px 0 55px;
  display: flex;
  justify-content: space-between;
}

.prices {
  padding: 10px;
  background: white;
  color: black;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2vw;
}

.promo {
  padding: 10px;
  background: black;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2vw;
}

.logo {
  /* padding: 55px 55px 0 55px; */
}

.logo_slogan {
  font-size: 2vw;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.logo_text {
  font-size: 7vw;
  text-transform: uppercase;
  letter-spacing: 7px;
  line-height: 7vw;
}

.promotion {
  font-size: 3vw;
  font-style: italic;
  margin-top: -55px;
  letter-spacing: 5px;
  padding: 0 55px 0 55px;
  line-height: 4.5vw;
}

/* .no_br {
  white-space: nowrap;
} */

.caps_lock {
  text-transform: uppercase;
}

.fade-in {
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 414px) {
  .App {
    height: 90vh;
  }
  /* .logo {
    padding: 55px 0 0 25px;
  } */

  .header {
    padding: 55px 0 0 25px;
    flex-direction: column;
  }

  .logo_slogan {
    font-size: 4vw;
    text-transform: uppercase;
    letter-spacing: 4px;
  }

  .logo_text {
    font-size: 10vw;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 9vw;
  }

  .address {
    padding: 0 25px 55px 25px;
    font-size: 3vw;
    letter-spacing: 2px;
    line-height: 5vw;
  }

  .address_street {
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  .promotion {
    font-size: 5vw;
    line-height: 7.5vw;
    font-style: italic;
    margin-top: -55px;
    letter-spacing: 5px;
    padding: 0 25px 0 25px;
  }

  .prices {
    font-size: 3.2vw;
  }

  .promo {
    font-size: 3.2vw;
  }

  .desktop_only {
    display: none;
  }
  .mobile_only {
    margin-bottom: 15px;
    display: inherit;
  }
  .line-spacing {
    margin-bottom: 10px;
  }
}
