:root {
  --black: #080808;
  --white: white;
}

button,
body {
  margin: 0;
  font-family: 'Playfair Display', sans-serif;
}

a {
  text-decoration: none;
  color: var(--white);
}

.featured > a {
  color: var(--black);
}
